#    Copyright (C) 2021-2022  Marcus Rickert
#
#    See https://github.com/marcus67/proxy_ping
#
#    This program is free software; you can redistribute it and/or modify
#    it under the terms of the GNU General Public License as published by
#    the Free Software Foundation; either version 3 of the License, or
#    (at your option) any later version.
#
#    This program is distributed in the hope that it will be useful,
#    but WITHOUT ANY WARRANTY; without even the implied warranty of
#    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
#    GNU General Public License for more details.
#
#    You should have received a copy of the GNU General Public License along
#    with this program; if not, write to the Free Software Foundation, Inc.,
#    51 Franklin Street, Fifth Floor, Boston, MA 02110-1301 USA.

#[ProxyPing]
# Logging level of the application. Default: INFO
# Allowed values: DEBUG, INFO, WARNING, ERROR
#log_level=DEBUG

# Run the application in debugging mode. If active any exception will print a
# stack trace and terminate the application. Do not activate in "production" mode.
# Default: False
#debug_mode=True

[StatusServer]
# Use this setting to set the port reacting to the API calls.
# Default: 6666
port=6666

#[Pinger]
# Path of the "ping" utility.
# Default: /bin/ping
#ping_command = /SOME/OTHER/PATH/PING

# Regular expression to extract the round trip time from a ping call. Use parentheses to mark the actual time duration
# in milliseconds.
# Default: rtt min/avg/max/mdev = [\d\.]+/([\d\.]+)/[\d\.]+/[\d\.]+ ms
#ping_result_regex = SOME OTHER ELABORATE EXPRESSION
